@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

.navbar{
    background-color: #2C2C2C;
    color: #000;
}

button{
    color: aliceblue;
}

.navbar a{
    transition: 1s;
    color: #F2B705;
}

.navbar a:hover{
    transition: 1s;
    font-size: 19px;
    color: #F2B705;
}

.toast{
    position: absolute;
    position: fixed;
    margin-left: 35%;
    width: 400px;
    height: 500px;
    margin-top: -50px;
    
}

.desc_atencao{
    background-color: #F2B705;
    font-size: 15px;
    text-align: center;
    padding: 10px;
}


@media only screen and (max-width:850px){
    .toast{
        position: absolute;
        position: fixed;
        margin-top: 50px;
        margin-left: 0%;
        width: 400px;
        height: 500px;
    }
    
    
}

.card1{
    background-image: url(/colaqui/public/img/pexels-adrien-olichon-2387566.jpg);
    background-size: cover;
    height: 500px;
    width: 100%;
}

.footer a{
    text-decoration: none;
    background-color: #F2B705;
    padding: 10px;
    border-radius: 15px;
    color: #000;
}
